
<div class="collection-template collection-template-no-sidebar">
    {% render 'collection-header' %}
    <div class="container">
        {% render 'breadcrumb' %}
    </div>
    <div class="halo-collection-content">
        {% if collection.products_count > 0 %}
            <div class="bg-filter">
                <div class="container">
                    {% render 'filter-no-sidebar' %} 
                    {% if collection.metafields.my_fields.related_colors != blank %}
                        <div class="collection__related_colors">
                            {% assign colorsList =  collection.metafields.my_fields.related_colors.value %}
                            {% for item in colorsList %}
                                <div class="collection__related_colors_item">
                                    {% assign collectionItem = collections[item] %}
                                    <a href="{{collectionItem.url}}" class="collection__related_colors_item_link"></a>
                                    <div class="img_wr">
                                        <img src="{{ collectionItem.image | img_url: '600x'}}" alt="" loading="lazy" class="collection__related_colors_item_image">
                                    </div>
                                    
                                    <div class="collection__related_colors_item_item_title">{{collectionItem.title}}</div>
                                </div>
                            {% endfor %}
                        </div>                        
                    {% endif %}  
                </div>
            </div>
        {% endif %}
        <div class="container">
            {% render 'collection-template-no-sidebar' %}
        </div>        
    </div>
</div>
