<div class="page-tpl">
  <div class="container">
    {% render 'breadcrumb' %}
    <header class="page-header">
      <div>
        {% render 'multilang' with page.title %}
      </div>      
    </header>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
